@import 'styles/components/buttons';
@import 'styles/abstract/colors';

.button.primary {
    @include primary-button;
} 

.button.link {
    padding: 14px 16px;
    cursor: pointer;
    transition: .3s;
    color: gray;

    &:hover {
        color: $primary-font-color;
        background-color: rgba(9,30,66,.13);
        text-decoration: underline;
    }
}