@import 'styles/abstract/colors';

.list {
    min-width: 270px;
    background-color: rgb(235, 236, 240);
    border-radius: 5px;
    margin: 0 5px;

    .title {
        color: $primary-font-color;
        font-weight: bold;
        padding: 14px 16px;
    }
}