@import 'styles/abstract/colors';
@import 'styles/components/buttons';

.add-list-control {
    width: 270px;
    background-color: rgb(235, 236, 240);
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;

    .fa-plus {
        margin-right: 5px;
    }

    .fa-times {
        margin-left: 10px;
        font-size: 20px;
        cursor: pointer;
        color: gray;
        font-size: 24px;
        transform: translateY(6px);
    }
}

.show-add-list-button {
    width: 270px;
    background-color: rgba(0,0,0,.12);
    color: #FFF;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
        background-color: rgba(0,0,0,.32);
    }

    .fa-plus {
        margin-right: 5px;
    }
}    

